.prints img {
    height: 175px;
    border: none;
    background-color: inherit;
    float:right;
}
.cat-btn {
    background-color: var(--theme-color);
    margin-top: 0;
}
.delivery {
    text-align: left;
}
.malicious-link img {
    position: relative;
}
.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}