pre {
    width: 90%;
    background: white;
    border: 1px solid #ddd;
    border-left: 3px solid var(--theme-color);
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.sandcat {
    width: 95%;
    border-radius: 50px;
    height: 250px;
}
.sandcat img {
    height: 300px;
    float:right;
}
.sandcat p {
    background-color: #333;
    border-radius: 25px;
    padding:20px;
}
.sandcat h1 {
    margin-top:-25px;
}
