.prints img {
    height: 175px;
    border: none;
    background-color: inherit;
    float:right;
}
.delivery {
    text-align: left;
    padding: 20px;
}
.malicious-link img {
    position: relative;
}
.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}
input[type=radio] {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}
label {
    display: inline-block;
}