<div class="section-profile">
    <div class="row">
        <div class="column section-border" style="flex:37%;text-align:left;padding:15px;">
            <h1 style="font-size:70px;margin-top:-20px;">54ndc47</h1>
            <h2 style="margin-top:-55px">coordinated access trojan (CAT)</h2>
            <p>
                A sand cat is a desert cat that leaves no footprint. In that vein,
                54ndc47 is a post-compromise agent designed to run without detection on any host operating system (OS).
                You can deploy a CAT by running the 1-line <i>delivery command</i> associated to
                your target OS.
            </p>
             <select id="dcommands" onchange="displayCommand()">
                <option value="" disabled selected>Select an OS</option>
                {% for cmd in delivery_cmds %}
                    <option value="{{ cmd.test }}">{{ cmd.platform }}</option>
                {% endfor %}
             </select>
            <button id="copyCommand" type="button" class="button-success"
                    style="display:none">Copy Command</button>
        </div>
        <div class="column" style="flex:67%;padding:15px;text-align: left">
            <div style="background-color: var(--primary-background);padding: 15px;border-radius: 25px">
                <code id="delivery-command" style="text-align: left;font-size:14px;"></code>
            </div>
        </div>
    </div>
</div>
<script src="/sandcat/js/sandcat.js"></script>