<div>
    <div>
        <h2>Sandcat</h2>
        <p class="has-text-weight-bold">
            A coordinated access trojan (CAT)
        </p>
        <p>
            The Sandcat agent is a program that can easily be deployed on any computer, upon which,
            will form a persistent connection back, allowing an operator to execute adversary
            emulation exercises. Sandcat communicates with the server over HTTP(S) by default.
        </p>
        <p class="has-text-weight-bold">
            To deploy a Sandcat agent, go to the Agents tab.
        </p>
    </div>
</div>
