<div id="sandcat-section" class="section-profile">
    <div class="row" style="background-image: url('/sandcat/img/cat.jpg');">
         <div class="topleft duk-icon"><img onclick="removeSection('sandcat-section')" src="/gui/img/x.png"></div>
         <div class="column" style="flex:40%;padding:15px;text-align: left">
            <h1 style="font-size:70px;margin-top:-20px;">54ndc47</h1>
            <h2 style="margin-top:-55px">a coordinated access trojan (CAT)</h2>
            <p style="width:40%;font-size:15px">
                The 54ndc47 (Sandcat) agent is a program that can easily be deployed on any computer, upon which,
                will form a persistent connection back, allowing an operator to execute adversary
                emulation exercises. 54ndc47 communicates to the server via HTTP(S) by default.
            </p>
             <h5>To deploy a 54ndc47 agent, go to the Agents tab</h5>
         </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        stream('Head to the agents tab to deploy a 54ndc47 agent');
    });
</script>